@use './reset';
@use './form.scss';

.App {
  text-align: center;
  background-color: #eff3f8;
  padding: 200px 30px 200px 30px;
  min-height: 100vh;

  @media screen and (max-width: 540px) {
    padding: 100px 0 100px 0;
  }
}
