@use './reset';
@use './form.scss';

.App {
  text-align: center;
  background-color: #eff3f8;
  padding: 0 30px 100px 30px;
  min-height: 100vh;

  @media screen and (max-width: 540px) {
    padding: 10px 0 100px 0;
  }
}
