.crud-dialog {
  width: 40vw;

  .crud-form {
    padding: 2rem;
  }

  .form-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .sub-form {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      .p-float-label {
        width: 100%;
      }
    }

    input {
      width: 100%;
    }
  }

  .w-100 {
    width: 100%;
  }
}

.action-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
}
