.crud-dialog {
  width: 40vw;
  @media screen and (max-width: 540px) {
    width: 98%;
  }
  @media screen and (max-width: 912px) and (min-width: 541px) {
    width: 65vw;
  }

  .crud-form {
    padding: 2rem;
  }

  .form-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .sub-form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;

      div {
        flex: 1 1 0;
      }

      @media screen and (max-width: 540px) {
        flex-direction: column;
        gap: 2rem;
      }

      .p-float-label {
        width: 100%;
      }
    }

    input {
      width: 100%;
    }
  }

  .w-100 {
    width: 100%;
  }
}

.action-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
}
